<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- DIFF_DRIVE_JOINTS -->
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="max">10</param>
                <param name="min">-10</param>
            </command_interface>
            <state_interface name="velocity">

            </state_interface>

            <state_interface name="position">

            </state_interface>
        </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="max">10</param>
                <param name="min">-10</param>
            </command_interface>
            <state_interface name="velocity">

            </state_interface>

            <state_interface name="position">

            </state_interface>
        </joint>

        <!-- ARM_JOINT -->
        <joint name="first_joint">
            <command_interface name="position">
                <param name="min">-3.141593</param>
                <param name="max">3.141593</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="second_joint">
            <command_interface name="position">
                <param name="min">0.0</param>
                <param name="max">2.094395</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="third_joint">
            <command_interface name="position">
                <param name="min">-3.141593</param>
                <param name="max">3.141593</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="fourth_joint">
            <command_interface name="position">
                <param name="min">-2.094395</param>
                <param name="max">2.094395</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="fifth_joint">
            <command_interface name="position">
                <param name="min">-3.141593</param>
                <param name="max">3.141593</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="gripper_joint">
            <command_interface name="position">
                <param name="min">-0.15</param>
                <param name="max">0.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find spatial_manipulator)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>